<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>SignUp</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" #registerForm="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="formData.FirstName" #FirstName = "ngModel" name ="FirstName" placeholder="FirstName"  required>
              
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput id="lastname" [(ngModel)]="formData.LastName" #LastName = "ngModel"  name ="LastName" placeholder="LastName"   required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput  [(ngModel)]="formData.email" #email = "ngModel" name ="email" placeholder="Email"  required>
            </mat-form-field>
          </td>
        </tr>
        <!-- <tr>
        <td>
        <mat-form-field class="example-full-width">
          <input ma
          
          
          
          
          
          tInput placeholder="Phone number" value="Phone number" formControlName="password">
        </mat-form-field></td>
      </tr> -->
        <tr>
        <td>
        <mat-form-field class="example-full-width">
          <input id="password" [(ngModel)]="formData.password" #password = "ngModel" name ="password" matInput type="password" placeholder="Password" required>
        </mat-form-field></td>
      </tr>
  </table>
  <mat-card-actions>
    <button mat-raised-button [disabled]="!registerForm.form.valid" (click)="register(registerForm)" color ="primary" id="signupbtn">SignUp</button>
  </mat-card-actions>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  
</mat-card>
